@import './fonts';
@import './variables';

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #efefef;
}
a,
a:is(:hover, :focus, :active, :visited, :link) {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.custom-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  * {
    font-family: 'Onest', sans-serif;
  }
}

.section {
  &__title {
    margin-bottom: 40px;
    font-family: 'Akrobat', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    text-transform: uppercase;
    color: #2e2e2e;
  }
}

@import './header';
@import './hero';
@import './constructor';
@import './workshops';
