* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #efefef;
}

a,
a:is(:hover, :focus, :active, :visited, :link) {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.custom-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.custom-container * {
  font-family: "Onest", sans-serif;
}

.section__title {
  margin-bottom: 40px;
  font-family: "Akrobat", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  text-transform: uppercase;
  color: #2e2e2e;
}

.header {
  padding: 40px 0;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.header nav {
  margin-left: auto;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  list-style: none;
}
.header__nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
  color: #505050;
}
.header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  background: #525252;
}

.hero {
  padding: 74px 0 98px;
}
.hero__title {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto 24px;
  font-family: "Akrobat", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 107%;
  text-transform: uppercase;
  text-align: center;
  color: #2e2e2e;
}
.hero__title span {
  font-family: inherit;
}
.hero__description {
  width: 100%;
  max-width: 870px;
  margin: 0 auto 80px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
  text-align: center;
  color: #505050;
  text-wrap: balance;
}
.hero__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 107px;
}
.hero__bottom > div {
  width: 35%;
}
.hero__button {
  display: block;
  align-self: center;
  padding: 31px 36px;
  border-radius: 12px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 107%;
  text-align: center;
  color: #fff;
  background: #12d28d;
}
.hero__bonus {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #787878;
}
.hero__bonus-progress {
  position: absolute;
  top: 3px;
  left: 140px;
  display: block;
}
.hero__bonus-arrow {
  position: absolute;
  top: 102px;
  left: -67px;
  display: block;
}

.students__title {
  margin-bottom: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  color: #2e2e2e;
}
.students__description {
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  color: #787878;
}
.students__photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.students__photo-wrap {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
}
.students__photo-wrap:not(:first-child) {
  margin-left: -16px;
}
.students__photo-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.constructor {
  margin-bottom: 80px;
}
.constructor__container {
  display: grid;
  grid-template-columns: calc(40% - 26px) calc(60% - 26px);
  gap: 52px;
  max-width: 1200px;
  padding: 24px;
  border-radius: 24px;
  background: #2e2e2e;
}
.constructor__video {
  border-radius: var(--Card_radius, 16px);
  overflow: hidden;
}
.constructor__video video {
  width: 100%;
  height: auto;
  display: block;
}
.constructor__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.constructor__content-bage {
  display: inline-block;
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  color: #effff9;
  background: #12d28d;
}
.constructor__content-title {
  margin-bottom: 16px;
  font-family: "Akrobat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  text-transform: uppercase;
  color: #effff9;
}
.constructor__content-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #d9d9d9;
  margin-bottom: 8px;
}
.constructor__content-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  padding: 20px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  background: #8388ff;
}

.workshops {
  margin-bottom: 80px;
}
.workshops__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.workshop {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  height: 100%;
  padding: 16px;
  border-radius: 24px;
  background: #2e2e2e;
}
.workshop__img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  height: 227px;
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 10px;
  background: #d3d3d3;
}
.workshop__bage {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
  color: #fff;
}
.workshop__bage_price {
  background: #12d28d;
}
.workshop__bage_version {
  background: #8388ff;
}
.workshop__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 127%;
  color: #fafafa;
}
.workshop__description {
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
  color: #d3d3d3;
}
.workshop__bottom {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}
.workshop__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 21px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #fff;
  background: #4a4949;
}
.workshop__buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 8px;
  background: #8388ff;
}/*# sourceMappingURL=style.css.map */